<div class="font-mono">
  <angular-tailwind-nx-header></angular-tailwind-nx-header>

  <main
    class="max-w-xl md:max-w-2xl lg:max-w-6xl mx-auto py-xl px-md md:px-xl grid grid-cols-1 gap-md md:grid-cols-2 lg:grid-cols-3"
  >
    <angular-tailwind-nx-card title="Angular" url="https://angular.io/">
      Angular is an application design framework and development platform for
      creating efficient and sophisticated single-page apps.
    </angular-tailwind-nx-card>

    <angular-tailwind-nx-card
      title="Tailwind CSS"
      url="https://tailwindcss.com/"
    >
      Tailwind CSS is a utility-first CSS framework packed with classes like
      flex, pt-4, text-center and rotate-90 that can be composed to build any
      design, directly in your markup.
    </angular-tailwind-nx-card>

    <angular-tailwind-nx-card title="Nx" url="https://nx.dev/">
      Nx is a smart, fast and extensible build system with first class monorepo
      support and powerful integrations.
    </angular-tailwind-nx-card>
  </main>
</div>
